<div
  class="card bg-base-100 w-1/2 mx-auto flex flex-col p-6 rounded-lg shadow-lg"
>
  <div class="card-title justify-center text-3xl text-primary">Sign Up</div>
  <div class="card-body w-full">
    <form class="flex flex-col gap-6 w-full" (submit)="register($event)">
      <div class="text-left">
        <input
          type="text"
          class="input w-full"
          placeholder="Display Name"
          [formField]="registerForm.displayName"
        />
        @if (
          registerForm.displayName().errors() &&
          registerForm.displayName().touched()
        ) {
          <div class="text-error">
            @for (error of registerForm.displayName().errors(); track $index) {
              <span class="text-red-500 font-light text-sm">{{
                error.message
              }}</span>
            }
          </div>
        }
      </div>

      <div class="text-left">
        <input
          type="text"
          class="input w-full"
          placeholder="Email"
          [formField]="registerForm.email"
        />
        @if (registerForm.email().errors() && registerForm.email().touched()) {
          <div class="text-error">
            @for (error of registerForm.email().errors(); track $index) {
              <span class="text-red-500 font-light text-sm">{{
                error.message
              }}</span>
            }
          </div>
        }
      </div>
      <div class="text-left">
        <input
          type="password"
          class="input w-full"
          placeholder="Password"
          [formField]="registerForm.password"
        />
        @if (
          registerForm.password().errors() && registerForm.password().touched()
        ) {
          <div class="text-error">
            @for (error of registerForm.password().errors(); track $index) {
              <span class="text-red-500 font-light text-sm">{{
                error.message
              }}</span>
            }
          </div>
        }
      </div>
      <div class="text-left">
        <input
          type="password"
          class="input w-full"
          placeholder="Confirm Password"
          [formField]="registerForm.confirmPassword"
        />
        @if (
          registerForm.confirmPassword().errors() &&
          registerForm.confirmPassword().touched()
        ) {
          <div class="text-error">
            @for (
              error of registerForm.confirmPassword().errors();
              track $index
            ) {
              <span class="text-red-500 font-light text-sm">{{
                error.message
              }}</span>
            }
          </div>
        }
        @if (registerForm.confirmPassword().touched() && passwordMismatch()) {
          <div class="text-error">
            <span class="text-red-500 font-light text-sm">
              Passwords do not match
            </span>
          </div>
        }
      </div>

      <div class="flex items-center justify-end gap-3">
        <button type="submit" class="btn btn-primary" type="submit">
          Register
        </button>
        <button type="button" class="btn" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
